<ion-view hide-nav-bar="false">
    <div class="bar bar-header">
        <a href="#/app/list">
            <button class="button button-icon icon ion-person"></button>
        </a>

        <div class="h1 title">asdasdas</div>

        <button class="button button-icon icon ion-log-out"></button>
    </div>
    <ion-content class="searchres has-header">
        <div class="head">Showing 6 results for <span class="keyword">Brand</span></div>
        <div class="list">

            <a class="item" href="#">

                <div class="description">
                    <p>…Have you pushed brand enough? Make this week brand new by spending the next few days re-establishing trespass…</p>
                </div>
                <div class="info">
                    <div class="eps">182</div>
                    <div class="date">Date</div>
                </div>


            </a>

            <a class="item" href="#">

                <div class="description">
                    <p>…Have you pushed brand enough? Make this week brand new by spending the next few days re-establishing trespass…</p>
                </div>
                <div class="info">
                    <div class="eps">181</div>
                    <div class="date">Date</div>
                </div>


            </a>
            
            <a class="item" href="#">

                <div class="description">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt dui at faucibus malesuada. Aliquam non sagittis nulla. Cras ac turpis orci. Curabitur sit amet cursus mauris, at placerat diam. Mauris at porttitor est. Quisque pretium sapien eget gravida consequat. Nulla lacinia pharetra tempor. Ut rutrum mollis magna at vestibulum. </p>
                </div>
                <div class="info">
                    <div class="eps">000</div>
                    <div class="date">Date</div>
                </div>


            </a>
            
            <a class="item" href="#">

                <div class="description">
                    <p>…Have you pushed brand enough? Make this week brand new by spending the next few days re-establishing trespass…</p>
                </div>
                <div class="info">
                    <div class="eps">000</div>
                    <div class="date">Date</div>
                </div>


            </a>
            
            <a class="item" href="#">

                <div class="description">
                    <p>…Have you pushed brand enough? Make this week brand new by spending the next few days re-establishing trespass…</p>
                </div>
                <div class="info">
                    <div class="eps">000</div>
                    <div class="date">Date</div>
                </div>


            </a>
            



        </div>
    </ion-content>
</ion-view>