<ion-view hide-nav-bar="false">
    <div class="bar bar-header">
        <a href="#/app/list">
            <button class="button button-icon icon ion-person"></button>
        </a>

        <div class="h1 title">asdasdas</div>

        <button class="button button-icon icon ion-log-out"></button>
    </div>
    <ion-content class="watchlater has-header">
        <div class="head">0 videos</div>
        <div class="list">

            <a class="item item-thumbnail-left" href="#">

                <img src="http://placehold.it/136x90">
                <h4 class="title">Chief shares with us three important points in Network Marketing journey.</h4>
                <p class="date">Date</p>
                <div class="eps">000</div>
                <div class="btn"><button class="button"><i class="icon ion-close"></i></button></div>
            </a>

            <a class="item item-thumbnail-left" href="#">

                <img src="http://placehold.it/136x90">
                <h4 class="title">Make this week brand new by spending the next few days re-establishing trespass in your people</h4>
                <div class="eps">000</div>
                <p class="date">Date</p>
                <div class="btn"><button class="button"><i class="icon ion-close"></i></button></div>
            </a>

            <a class="item item-thumbnail-left" href="#">

               <img src="http://placehold.it/136x90">
                <h4 class="title">Title</h4>
                <div class="eps">000</div>
                <p class="date">Date</p>
                <div class="btn"><button class="button"><i class="icon ion-close"></i></button></div>
            </a>
            
            <a class="item item-thumbnail-left" href="#">

               <img src="http://placehold.it/136x90">
                <h4 class="title">Title</h4>
                <div class="eps">000</div>
                <p class="date">Date</p>
                <div class="btn"><button class="button"><i class="icon ion-close"></i></button></div>
            </a>
            
            <a class="item item-thumbnail-left" href="#">

               <img src="http://placehold.it/136x90">
                <h4 class="title">Title</h4>
                <div class="eps">000</div>
                <p class="date">Date</p>
                <div class="btn"><button class="button"><i class="icon ion-close"></i></button></div>
            </a>
            
            <a class="item item-thumbnail-left" href="#">

               <img src="http://placehold.it/136x90">
                <h4 class="title">Title</h4>
                <div class="eps">000</div>
                <p class="date">Date</p>
                <div class="btn"><button class="button"><i class="icon ion-close"></i></button></div>
            </a>
            
            <a class="item item-thumbnail-left" href="#">

               <img src="http://placehold.it/136x90">
                <h4 class="title">Title</h4>
                <div class="eps">000</div>
                <p class="date">Date</p>
                <div class="btn"><button class="button"><i class="icon ion-close"></i></button></div>
            </a>

        </div>
    </ion-content>
</ion-view>